{% extends "layout.html" %}

{% block heading %}
{{message}} {{username}}!
{% endblock %}


{% block body %}
</br>
<div style="text-align:center">
<form action="{{ url_for('index')}}" method="post">
    <button> Log out </button>
</form>
</div>
</br>

<div class="myDiv">
    <div style="text-align:center">
<form action="{{ url_for('results')}}" method="post">
    <input type="text" name="isbn" placeholder="ISBN">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <button> Search </button>
</form>
</div>
</div>

{% endblock %}